<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light border-bottom">
    <div class="container">
        <a class="navbar-brand" href="{{ path_for('home') }}">iLanyang</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Left navbar links -->
            {% if _session.group == 0 %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for('admin') }}">管理界面</a>
                    </li>
                </ul>
            {% endif %}
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('busIndex') }}">交通車預約</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">大三出國通報</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">線上報修</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('userPackage') }}">蘭陽掛包</a>
                </li>
                <!-- Authentication Links -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-user"></i> Hi, {{ _session.name|default('') }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ path_for('userIndex') }}">
                            <i class="fas fa-user-circle"></i> Profile
                        </a>
                        <a class="dropdown-item" href="{{ path_for('userBus') }}">
                            <i class="fas fa-bell"></i> My Bus
                        </a>
                        <a class="dropdown-item" href="{{ path_for('logout') }}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /.navbar -->