{# TODO: Add expand effect on admin login form #}

{% extends "/layouts/admin.twig" %}
{% block title %}Admin Dashboard{% endblock %}

{% block page_title %}Repair     Manager{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <!-- Custom Tabs -->
            <div class="card card-outline card-info">
                <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3">報修任務</h3>
                    <ul class="nav nav-pills ml-auto p-2">
                        <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">未簽收</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">待處理</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">完工待確任</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_4" data-toggle="tab">已待確完成</a></li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <table id="userTable" class="table table-hover compact nowrap" style="width:100%">
                                <thead>
                                <tr>
                                    <th>編號</th>
                                    <th>分類</th>
                                    <th>報修人</th>
                                    <th>館別</th>
                                    <th>房號</th>
                                    <th>物品名稱</th>
                                    <th>故障描述</th>
                                    <th>催件</th>
                                    <th>報修時間</th>
                                    <th class="all">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in tab1 %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.cat_name }}</td>
                                        <td>{{ item.note_man }}</td>
                                        <td>{{ item.building }}</td>
                                        <td>{{ item.location }}</td>
                                        <td>{{ item.item }}</td>
                                        <td>{{ item.item_desc|truncate(5) }}</td>
                                        <td>{{ item.item_call|default(0) }}</td>
                                        <td>{{ item.note_time|date("Y-m-d") }}</td>
                                        <td>
                                            <a class="btn btn-outline-info btn-sm"
                                               href="{{ path_for('repairSign',{ 'id': item.id }) }}">
                                                簽收/編輯
                                            </a>
                                            <a class="btn btn-outline-success btn-sm" href="#" id="call"
                                               data-id="{{ item.id }}">
                                                訊息
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <table id="userTable" class="table table-hover compact nowrap" style="width:100%">
                                <thead>
                                <tr>
                                    <th>編號</th>
                                    <th>分類</th>
                                    <th>報修人</th>
                                    <th>館別</th>
                                    <th>房號</th>
                                    <th>物品名稱</th>
                                    <th>進度</th>
                                    <th>故障描述</th>
                                    <th>催件</th>
                                    <th>報修時間</th>
                                    <th>預計完成</th>
                                    <th class="all">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in tab2 %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.cat_name }}</td>
                                        <td>{{ item.note_man }}</td>
                                        <td>{{ item.building }}</td>
                                        <td>{{ item.location }}</td>
                                        <td>{{ item.item }}</td>
                                        <td>{{ item.item_status_name }}</td>
                                        <td>{{ item.item_desc|truncate(5) }}</td>
                                        <td>{{ item.item_call|default(0) }}</td>
                                        <td>{{ item.note_time|date("Y-m-d") }}</td>
                                        <td>{{ item.expect_time|date("Y-m-d")|default('N/A') }}</td>
                                        <td>
                                            {% if item.item_status == 1 %}
                                                <a class="btn btn-outline-warning btn-sm"
                                                   href="{{ path_for('repairDispatch',{ 'id': item.id }) }}">
                                                    派工
                                                </a>
                                            {% else %}
                                                <a class="btn btn-outline-success btn-sm"
                                                   href="{{ path_for('repairFinish',{ 'id': item.id }) }}">
                                                    申報完工
                                                </a>
                                            {% endif %}
                                            <a class="btn btn-outline-success btn-sm" href="#" data-id="{{ item.id }} "
                                               id="call">
                                                訊息
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_3">
                            <table id="userTable" class="table table-hover compact nowrap" style="width:100%">
                                <thead>
                                <tr>
                                    <th>編號</th>
                                    <th>分類</th>
                                    <th>報修人</th>
                                    <th>館別</th>
                                    <th>房號</th>
                                    <th>物品名稱</th>
                                    <th>進度</th>
                                    <th>故障描述</th>
                                    <th>報修時間</th>
                                    <th>預計完成</th>
                                    <th>完成時間</th>
                                    <th class="all">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in tab3 %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.cat_name }}</td>
                                        <td>{{ item.note_man }}</td>
                                        <td>{{ item.building }}</td>
                                        <td>{{ item.location|truncate(5) }}</td>
                                        <td>{{ item.item|truncate(5) }}</td>
                                        <td>{{ item.item_status_name }}</td>
                                        <td>{{ item.item_desc|truncate(5) }}</td>
                                        <td>{{ item.note_time|date("Y-m-d") }}</td>
                                        <td>{{ item.expect_time|date("Y-m-d")|default('N/A') }}</td>
                                        <td>{{ item.expect_time|date("Y-m-d") }}</td>
                                        <td>
                                            <a class="btn btn-outline-warning btn-sm"
                                               href="{{ path_for('repairResult',{ 'id': item.id }) }}">
                                                查看
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_4">
                            <table id="userTable" class="table table-hover compact nowrap" style="width:100%">
                                <thead>
                                <tr>
                                    <th>編號</th>
                                    <th>分類</th>
                                    <th>報修人</th>
                                    <th>館別</th>
                                    <th>房號</th>
                                    <th>物品名稱</th>
                                    <th>滿意度</th>
                                    <th>故障描述</th>
                                    <th>催件</th>
                                    <th>報修時間</th>
                                    <th>預計完成</th>
                                    <th>完成時間</th>
                                    <th class="all">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in tab4 %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.cat_name }}</td>
                                        <td>{{ item.note_man }}</td>
                                        <td>{{ item.building }}</td>
                                        <td>{{ item.location }}</td>
                                        <td>{{ item.item|truncate(5) }}</td>
                                        <td>{% if item.evaluation == 6 %}
                                                非常滿意
                                            {% elseif item.evaluation == 5 %}
                                                滿意
                                            {% elseif item.evaluation == 4 %}
                                                有點滿意
                                            {% elseif item.evaluation == 3 %}
                                                有點不滿意
                                            {% elseif item.evaluation == 2 %}
                                                不滿意
                                            {% else %}
                                                非常不滿意
                                            {% endif %}</td>
                                        <td>{{ item.item_desc|truncate(5) }}</td>
                                        <td>{{ item.item_call|default(0) }}</td>
                                        <td>{{ item.note_time|date("Y-m-d") }}</td>
                                        <td>{{ item.expect_time|date("Y-m-d")|default('N/A') }}</td>
                                        <td>{{ item.expect_time|date("Y-m-d") }}</td>
                                        <td>
                                            <a class="btn btn-outline-warning btn-sm"
                                               href="{{ path_for('repairResult',{ 'id': item.id }) }}">
                                                查看
                                            </a>
                                            <a class="btn btn-outline-success btn-sm" href="#" data-id="{{ item.id }}"
                                               id="call">
                                                訊息
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- ./card -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('[id=userTable]').DataTable({
                responsive: true,
                "paging": true,
                // "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "pageLength": 5,
                "lengthMenu": [5, 10, 15]
            });
            $("a[id=call]").click(function () {
                var id = $(this).data("id");
                el = document.createElement('table');
               $(el).addClass('table table-hover').append("<tbody></tbody>");
                console.log(id);
                $.ajax({
                    type: 'GET',
                    url: "{{ base_url()~path_for('repairCallShow',{ 'id': '' }) }}" + id,
                    // data: "call=" + value,
                    // success: success,
                }).done(function (data) {
                    $.each(eval(data), function(key, value) {
                        console.log(value.call_content+":"+value.call_time);
                        var row = $('<tr></tr>').appendTo(el);
                        $('<td></td>').text(value.call_content).appendTo(row);
                        $('<td></td>').text(value.call_time).appendTo(row);
                    });
                    swal({
                            content:{
                                element:el
                            }
                        });
                }).fail(function () {
                    swal("Oops!", "請求失敗", "error");
                });
            });
        });
    </script>
{% endblock %}
