{# TODO: Add expand effect on admin login form #}

{% extends "/layouts/admin.twig" %}
{% block title %}Admin Dashboard{% endblock %}

{% block page_title %}User Manager{% endblock %}

{% block content %}
    <h5 class="mb-2">Info Box</h5>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Users</span>
                    <span class="info-box-number">{{ student_count }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="far fa-address-card"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Admins</span>
                    <span class="info-box-number">{{ user_count }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-warning"><i class="fas fa-check"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Active Accounts</span>
                    <span class="info-box-number">{{ user_active }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="fas fa-exclamation-triangle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Alert</span>
                    <span class="info-box-number">93,139</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Admin List
                        <a class="btn btn-flat btn-success float-right btn-sm" href="#" data-toggle="modal"
                           data-placement="top" data-target="#create">
                            <i class="fas fa-plus"></i> Add new admin
                        </a>
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="userTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>UID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Role</th>
                            <th>Last login</th>
                            <th>Create time</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ loop.index|e }}</td>
                                <td>{{ user.uid|e }}</td>
                                <td>{{ user.name|e }}</td>
                                <td>
                                    {% if user.active == true %}
                                        <span style="color: #00a65a"><i class="fas fa-circle fa-xs"></i> Activate</span>
                                    {% else %}
                                        <span style="color: #f56954"><i
                                                    class="fas fa-circle fa-xs"></i> Deactivate</span>
                                    {% endif %}
                                </td>
                                {% if user.role == 0 %}
                                    <td>Superuser</td>
                                {% else %}
                                    <td>Admin</td>
                                {% endif %}
                                <td>{{ user.last_login|e }}</td>
                                <td>{{ user.create_time|e }}</td>
                                <td>
                                    <a class="mx-1" style="color: #00c0ef" href="#" data-toggle="modal"
                                       data-placement="top" data-target="#edit" data-uid="{{ user.uid }}"
                                       data-id="{{ user.id }}" data-role="{{ user.role }}"
                                       data-active="{{ user.active }}" title="Edit">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a class="mx-1" style="color: #f56954" href="#" data-toggle="modal"
                                       data-placement="top" data-target="#delete" data-id="{{ user.id }}"
                                       title="Delete"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">User List</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="studentTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>UID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Secondary Email</th>
                            <th>Last login</th>
                            <th>Create time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{ loop.index|e }}</td>
                                <td>{{ student.uname|e }}</td>
                                <td>{{ student.name|e }}</td>
                                <td>{{ student.email|e }}</td>
                                <td>{{ student.secondary_email|e }}</td>
                                <td>{{ student.last_login|e }}</td>
                                <td>{{ student.create_on|e }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <!-- Create Modal -->
    <div class="modal fade" id="create" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Create</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ path_for('submitUser') }}">
                        <div class="form-group">
                            <label for="Username" class="col-form-label">ID Number</label>
                            <input type="text" class="form-control" id="username" name="uid">
                        </div>
                        <div class="form-group">
                            <label for="role" class="col-form-label">User role</label>
                            <select class="form-control" name="role" id="role">
                                <option value="0">Superuser</option>
                                <option value="1">Admin</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="role" class=" col-form-label">Active status</label>
                            <select class="form-control" name="active" id="active">
                                <option value="1">Activate</option>
                                <option value="0">Deactivate</option>
                            </select>
                        </div>
                        <input type="hidden" id="id" name="id" value="">
                        <button type="submit" class="btn btn-info float-right">Save</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Edit Modal -->
    <div class="modal fade" id="edit" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path_for('userUpdate') }}">
                        <div class="form-group">
                            <label for="Username" class="col-form-label">ID Number</label>
                            <input type="text" class="form-control" id="username" name="uid" disabled>
                        </div>
                        <div class="form-group">
                            <label for="role" class="col-form-label">User role</label>
                            <select class="form-control" name="role" id="role">
                                <option value="0">Superuser</option>
                                <option value="1">Admin</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="role" class=" col-form-label">Active status</label>
                            <select class="form-control" name="active" id="active">
                                <option value="1">Activate</option>
                                <option value="0">Deactivate</option>
                            </select>
                        </div>
                        <input type="hidden" id="id" name="id" value="">
                        <button type="submit" class="btn btn-info float-right">Save changes</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="delete" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body mx-auto">
                    <div class="row">
                        <div class="col text-center">
                            <i class="fas fa-minus-circle fa-7x m-md-4" style="color: #f56954"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Do you really want to delete these records?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mx-auto">
                        <form action="{{ path_for('userDelete') }}" method="POST">
                            <input type="hidden" id="id" name="id">
                            <button type="button" class="btn btn-flat btn-secondary" data-dismiss="modal">Cancel
                            </button>
                            <button type="submit" class="btn btn-flat btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#userTable').DataTable({
            "paging": true,
            // "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "pageLength": 5,
            "lengthMenu": [5, 10, 15]
        });
        $('#studentTable').DataTable({
            "paging": true,
            // "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "pageLength": 5,
            "lengthMenu": [5, 10, 15]
        });

        $('#edit').on('show.bs.modal', function (event) {
            var row = $(event.relatedTarget);
            var id = row.data('id');
            var uid = row.data('uid');
            var role = row.data('role');
            var active = row.data('active');
            var modal = $(this);
            modal.find('#username').val(uid);
            modal.find('#id').val(id);
            modal.find('#active').val(active);
            modal.find('#role').val(role);
        });

        $('#delete').on('show.bs.modal', function (event) {
            var row = $(event.relatedTarget);
            var id = row.data('id');
            var modal = $(this);
            modal.find('#id').val(id);
        });
    </script>
{% endblock %}
