{% extends "/layouts/user.twig" %}
{% block title %}iBus{% endblock %}

{% block page_title %}Bus Reservation{% endblock %}

{% block content %}
    <!-- SmartWizard html -->
    <form class="" id="bus" action="{{ path_for('busReserve') }}" method="post">
        <div id="smartwizard" class="animated fadeInDown">
            <ul>
                <li><a href="#step-1">Step 1<br/>
                        <small>Reserve a seat</small>
                    </a></li>
                <li><a href="#step-2">Step 2<br/>
                        <small>Please enter personal info</small>
                    </a></li>
                <li><a href="#step-3">Step 3<br/>
                        <small>Confirm reserve information</small>
                    </a></li>
            </ul>

            <div>
                <div id="step-1" class="">
                    <h3 class="border-bottom border-gray pb-2">Select Bus</h3>
                    <div class="col">
                        <div class="card card-info card-outline">
                            <div class="card-body table-responsive m-1">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th></th>
                                        <th>Destination</th>
                                        <th>Departure</th>
                                        <th>Capacity</th>
                                        <th>Reservation</th>
                                        <th>Description</th>
                                    </tr>
                                    {% for schedule in schedules %}
                                        <tr class="select-id-{{ schedule.id }}">
                                            <td>
                                                <div class="radio">
                                                    <label><input type="radio" value="{{ schedule.id }}"
                                                                  name="schedule" id="radio"
                                                                  {% if not schedule.reservation %}disabled{% endif %}
                                                                  required></label>
                                                </div>
                                            </td>
                                            {% if schedule.type == 1 %}
                                                <td>礁溪 → 蘭陽校園</td>
                                            {% else %}
                                                <td>蘭陽校園 → 礁溪</td>
                                            {% endif %}
                                            <td>{{ schedule.departure_time|date("Y-m-d H:i") }}</td>
                                            <td>{{ schedule.capacity }}</td>
                                            {% if schedule.reservation %}
                                                <td>Yes</td>
                                            {% else %}
                                                <td>No</td>
                                            {% endif %}
                                            <td>{{ schedule.description|default('') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step-2" class="">
                    <h3 class="border-bottom border-gray pb-2">Enter Info</h3>
                    <div class="col-md-4 offset-md-4">
                        <div class="card card-info card-outline">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control float-right" name="name" id="name" disabled
                                           value="{{ _session.name }}">
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group">
                                    <label>Department</label>
                                    <input type="text" class="form-control float-right" name="dept" id="dept" required/>
                                    <div class="invalid-feedback">
                                        Please fill out this field!
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group">
                                    <label>Room No.</label>
                                    <input type="text" class="form-control float-right" name="room" id="room" required>
                                    <div class="invalid-feedback">
                                        Please fill out this field!
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step-3" class="">
                    <h3 class="border-bottom border-gray pb-2">Confirm</h3>
                    <div class="row">
                        <div class="col-lg">
                            <div class="callout callout-info">
                                <h5><i class="fas fa-info"></i> Note:</h5>
                                每一班次前60分鐘截止預約或取消，未預約者以先到現場者為優先遞補，單學期2次無故未搭乘者，將予以停權2個月。
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card card-info card-outline">
                                <div class="card-body">
                                    <strong><i class="fas fa-user mr-1"></i> Name</strong>
                                    <p class="text-muted" id="show-name"></p>
                                    <hr>
                                    <strong><i class="fas fa-building mr-1"></i> Department</strong>
                                    <p class="text-muted" id="show-dept"></p>
                                    <hr>
                                    <strong><i class="fas fa-home mr-1"></i> Room No.</strong>
                                    <p class="text-muted" id="show-room"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card card-info card-outline">
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th>Destination</th>
                                            <th>Departure</th>
                                            <th>Capacity</th>
                                            <th>Reservation</th>
                                            <th>Description</th>
                                        </tr>
                                        {% for schedule in schedules %}
                                            <tr class="select-id-{{ schedule.id }}" id="confirm">
                                                {% if schedule.type == 1 %}
                                                    <td>礁溪 → 蘭陽校園</td>
                                                {% else %}
                                                    <td>蘭陽校園 → 礁溪</td>
                                                {% endif %}
                                                <td>{{ schedule.departure_time|date("Y-m-d H:i") }}</td>
                                                <td>{{ schedule.capacity }}</td>
                                                {% if schedule.reservation %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                                <td>{{ schedule.description|default('') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {

            $('input:radio[name="schedule"]').change(function () {
                var selectVal = $('input[name=schedule]:checked').val();
                $("[id=confirm]").not(".select-id-" + selectVal).hide();
            });

            $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
                //alert("You are on step "+stepNumber+" now");
                if (stepPosition === 'final') {
                    $(".btn-finish").show();
                    var name = $('#name').val();
                    var dept = $('#dept').val();
                    var room = $('#room').val();
                    $('#show-name').text(name);
                    $('#show-dept').text(dept);
                    $('#show-room').text(room);

                } else {
                    $(".btn-finish").hide();
                }
            });
            // Toolbar extra buttons
            var btnFinish = $('<button></button>').text('Finish')
                .addClass('btn btn-info btn-finish')
                .on('click', function () {
                    $("#bus").submit();
                });

            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'dots',
                transitionEffect: 'fade',
                showStepURLhash: false,
                transitionSpeed: 500,
                anchorSettings: {
                    anchorClickable: true, // Enable/Disable anchor navigation
                    enableAllAnchors: false, // Activates all anchors clickable all times
                    markDoneStep: true, // add done css
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                },
                toolbarSettings: {
                    toolbarPosition: 'bottom',
                    toolbarExtraButtons: [btnFinish]
                },
                ajaxSettings: {}

            });
        });
    </script>
{% endblock %}