{% extends "/layouts/user.twig" %}
{% block title %}iBus{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
    <!-- SmartWizard html -->
    <form class="" id="bus">
        <div class="row animated fadeInDown">

            <div class="col">
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">交通車班次表(每週第1個上課日12:30開始預約)</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th></th>
                                <th>路線</th>
                                <th>發車時間</th>
                                <th>人數/空位</th>
                                <th>預約</th>
                                <th>備註</th>
                            </tr>
                            {% for schedule in schedules %}
                                <tr class="select-id-{{ schedule.id }}">
                                    <td>
                                        {% if schedule.reservation and schedule.is_open %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" data-id="{{ schedule.id }}" name="schedule"
                                                           id="schedule">
                                                </label>
                                            </div>
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    {% if schedule.type == 1 %}
                                        <td>礁溪 → 蘭陽校園</td>
                                    {% else %}
                                        <td>蘭陽校園 → 礁溪</td>
                                    {% endif %}
                                    <td>{{ schedule.departure_time|date("Y-m-d H:i") }}</td>
                                    <td>{{ schedule.reserved_seats }}/{{ schedule.capacity }}</td>
                                    {% if schedule.reservation %}
                                        <td>是</td>
                                    {% else %}
                                        <td>否</td>
                                    {% endif %}
                                    <td>{{ schedule.description|default('') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success float-right" id="confirm" type="button" disabled>確定</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
{% block scripts %}
    <script>
        $('[id=schedule]').click(function () {
            $('#confirm').prop("disabled", false);
        });
        $('#reservation').flatpickr({
            minDate: 'today',
            defaultDate: 'today'
        });
        $('#confirm').click(function () {
            swal({
                title: "確定預訂此班車",
                text: "如不搭車請務必取消，否則將受停權處分",
                icon: "info",
                buttons: {
                    cancel: "取消",
                    yes: {
                        text: "確定",
                        value: true,
                        closeModal: false,
                    },
                },
                dangerMode: true,
            }).then((value) => {
                if (value) {
                    var bus = $("[id=schedule]:checked").data("id");
                    console.log(bus);
                    $.post(window.location, {bus: bus}).done(function (data) {
                        console.log(data);
                        if (data === "success") {
                            swal({
                                title: "預訂成功",
                                icon: "success",
                            }).then(function () {
                                    location.href = "{{ base_url()~path_for("userBus") }}";
                                }
                            );
                        } else {
                            swal("抱歉無法訂位", "請勿重複預約以免遭受停權處分", "error")
                        }
                    }).fail(function () {
                        swal("系統錯誤", {
                            icon: "error",
                        });
                    });
                }
            });
        });
    </script>
{% endblock %}