{% extends "/layouts/user.twig" %}
{% block title %}User Dashboard{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-info animated fadeInDown">
                <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3">我的包裹</h3>
                    <ul class="nav nav-pills ml-auto p-2">
                        <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">未領包裹</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">包裹歷史</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path_for('lostFound') }}">包裹招領</a></li>
                    </ul>
                </div>

                <div class="card-body  table-responsive">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab_1">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>#</th>
                                    <th>包裹類型</th>
                                    <th>存放位置</th>
                                    <th>包裹編號</th>
                                    <th>抵達時間</th>
                                    <th>操作</th>
                                </tr>
                                {% for package in packages %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ package.ptype }}</td>
                                        <td>{{ package.storage }}</td>
                                        <td>{{ package.pid }}</td>
                                        <td>{{ package.timestamp_arrive|date("Y-m-d H:i") }}</td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm" id="sign"
                                                    data-id="{{ package.id }}">
                                                簽收
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>#</th>
                                    <th>包裹類型</th>
                                    <th>存放位置</th>
                                    <th>包裹編號</th>
                                    <th>抵達時間</th>
                                    <th>領取時間</th>
                                </tr>
                                {% for oldPackage in oldPackages %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ oldPackage.ptype }}</td>
                                        <td>{{ oldPackage.storage }}</td>
                                        <td>{{ oldPackage.pid }}</td>
                                        <td>{{ oldPackage.timestamp_arrive|date("Y-m-d H:i") }}</td>
                                        <td>{{ oldPackage.timestamp_pickup|date("Y-m-d H:i") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('[id=sign]').click(function () {
            swal({
                title: "確定簽收",
                icon: "info",
                buttons: {
                    cancel: "取消",
                    yes: {
                        text: "確定",
                        value: true,
                        closeModal: false,
                    },
                },
                dangerMode: true,
            }).then((value) => {
                if (value) {
                    var id = $(this).data('id');
                    $.post(window.location, {sign: true, id: id}).done(function () {
                        swal({
                            title: "已簽收",
                            icon: "success",
                        }).then(function () {
                                location.reload();
                            }
                        );
                    }).fail(function () {
                        swal("系統錯誤", {
                            icon: "error",
                        });
                    });
                }
            });
        });
    </script>
{% endblock %}

